#jobs
	.job
		- @jobs.each do |job|
			%h2= link_to job.title, job
			%h4.companyName= job.company
			%strong Status: 
			%span.h6.status= job.status.name
			%br/
			%strong Status updated on: 
			%span.h6= job.date_applied
			%hr.style-one
