    <footer>
      
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Anya Melnyk 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="hvr-buzz-out"><a href="https://github.com/slyka85/" target='_blank'><i class="fa fa-github"></i></a>
                        </li>
                        <li class="hvr-buzz-out"><a href="https://twitter.com/AnyaMelnyk" target='_blank'><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="hvr-buzz-out"><a href="https://www.linkedin.com/in/anyamelnyk" target='_blank'><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
    
    </footer>